/.DS_Store
artificial_vision/.metadata/*

artificial_vision/.metadata/.log

artificial_vision/.metadata/.log

*.resources

*.xmi

artificial_vision/.metadata/version.ini

artificial_vision/.metadata/.plugins/org.eclipse.core.resources/.projects/RoboticArm/com.python.pydev.analysis/AdditionalProjectInterpreterInfo.pydevinfo

artificial_vision/.metadata/.plugins/org.eclipse.core.resources/.projects/RoboticArm/com.python.pydev.analysis/AdditionalProjectInterpreterInfo.pydevinfo

*.index
